<a href="https://colab.research.google.com/github/lejuvega/proyecto-salud/blob/main/Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/lejuvega/proyecto-salud.git

Cloning into 'proyecto-salud'...
remote: Enumerating objects: 9, done.
remote: Counting objects: 100% (9/9), done.
remote: Compressing objects: 100% (7/7), done.
remote: Total 9 (delta 1), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (9/9), 2.56 MiB | 3.68 MiB/s, done.

In [3]:
import pandas as pd

In [ ]:
data = pd.read_excel("/content/proyecto-salud/BASE DE DATOS RCV JUNIO 2022.xlsx")

In [7]:
data.head(10)

,CONSECUTIVO,TIPO DOCUMENTO,NUMERO DE DOCUMENTO,Nombre,FECHA DE NACIMIENTO,EDAD,GENERO,MUNICIPIO,FECHA DE INGRESO AL PROGRAMA,Tiene HTA,...,ALBUMINURIA,FECHA DE ALBUMINURIA,CREATINURIA,FECHA DE ULTIMA CREATINURIA,RELACIÓN ALBUMINURIA/CREATINURIA,FECHA DE PARCIAL DE ORINA,FECHA RELACIÓN ALBUMINURIA/CREATINURIA,GLUCEMIA,FECHA DE ULTIMA GLUCEMIA,ESTADO
0,1.0,CC,1.0,ATENCIA VERGARA JHAN CARLOS,1997-04-22,25.0,M,70233.0,2013-09-01,NO,...,65.48,2022-02-02,225.0,2022-02-02,29.00,6.5,2022-02-02,97,2021-07-16,ACTIVOS
1,2.0,CC,2.0,JARABA MACHADO MAIRETH NONE,1996-05-17,26.0,F,70742.0,2017-03-27,NO,...,37.43,2022-02-18,62.0,2021-08-09,4.51,6.5,2021-08-09,75,2021-08-09,ACTIVOS
2,3.0,CC,3.0,RIVERA ARIAS JAIRO ANTONIO,1950-08-24,71.0,M,70418.0,2010-02-19,SI,...,79.19,2022-02-11,123.0,2021-08-06,24.30,6,2021-08-06,79,2021-08-06,ACTIVOS
3,4.0,CC,4.0,RIOS MONTES MARIA ISABEL,1972-08-24,49.0,F,70001.0,2009-02-23,SI,...,87.57,2022-03-01,157.0,2022-03-01,55.70,6,2022-03-01,85,2021-09-03,ACTIVOS
4,5.0,CC,5.0,ACOSTA COA SOLEDAD DEL CARMEN,1939-03-04,83.0,F,70418.0,1996-03-15,SI,...,18.45,2022-02-17,38.0,2022-02-17,48.40,6.5,2022-02-17,76,2021-08-17,ACTIVOS
5,6.0,CC,6.0,GAMARRA DE ARRIETA ANA DIONISIA,1944-12-25,77.0,F,70233.0,2013-09-01,SI,...,3.22,2022-02-07,77.0,2021-08-11,16.40,6.5,2021-08-11,200,2021-08-11,ACTIVOS
6,7.0,CC,7.0,SUAREZ DE RODRIGUEZ NACIRA LEONOR,1946-10-05,75.0,F,70233.0,2015-09-09,SI,...,13.4,2022-02-07,23.0,2022-02-07,58.00,6,2022-02-07,98,2021-08-11,ACTIVOS
7,8.0,CC,8.0,DIAZ DE GARCIA BLANCA ROSA,1944-12-19,77.0,F,70418.0,1996-03-15,SI,...,2.81,2022-02-11,35.0,2022-02-11,8.02,6,2022-02-11,82,2021-08-17,ACTIVOS
8,9.0,CC,9.0,PEREZ DE SANTOS ANA ISABEL,1946-06-14,76.0,F,70418.0,2010-02-19,SI,...,1.17,2022-02-17,30.0,2021-08-23,4.87,8,2022-06-22,71,2021-08-23,ACTIVOS
9,10.0,CC,10.0,SANCHEZ SANTOS ADALGIZA ROSA,1934-01-01,88.0,F,70418.0,2015-12-01,SI,...,62.56,2022-02-17,100.0,2021-08-23,3.95,5,2022-06-17,82,2021-08-23,ACTIVOS

In [8]:
data.describe()

,CONSECUTIVO,NUMERO DE DOCUMENTO,EDAD,MUNICIPIO,Peso,TALLA FENIX,IMC,TS,TD,RESULTADO CREATININA,HDL,LDL,Estadio de ERC,CREATINURIA,RELACIÓN ALBUMINURIA/CREATINURIA
count,7627.000000,7627.000000,7627.000000,7627.000000,7627.000000,7627.000000,7627.000000,7627.000000,7627.000000,7627.000000,7627.000000,7627.000000,7627.000000,7627.000000,7627.000000
mean,3814.000000,3814.000000,63.344959,70306.988986,68.279916,158.041694,27.277532,130.462436,78.840566,1.073377,46.747395,87.204838,60.315720,559.735637,546.790320
std,2201.869584,2201.869584,12.642637,293.171089,13.989243,8.293754,4.920066,14.973506,8.538923,1.965501,15.298573,42.115910,46.561051,2111.156579,2215.883001
min,1.000000,1.000000,11.000000,70001.000000,25.000000,122.000000,13.150000,80.000000,50.000000,0.240000,13.300000,0.500000,1.000000,10.000000,0.030000
25%,1907.500000,1907.500000,55.000000,70001.000000,58.800000,152.000000,23.900000,120.000000,70.000000,0.840000,39.200000,61.500000,3.000000,45.000000,4.555000
50%,3814.000000,3814.000000,63.000000,70233.000000,67.000000,158.000000,26.820000,130.000000,80.000000,0.980000,45.200000,84.100000,98.000000,73.000000,10.200000
75%,5720.500000,5720.500000,73.000000,70670.000000,76.800000,164.000000,30.090000,139.000000,80.000000,1.160000,52.500000,108.550000,98.000000,122.000000,28.550000
max,7627.000000,7627.000000,105.000000,70823.000000,148.000000,191.000000,57.810000,240.000000,120.000000,99.000000,999.000000,999.000000,98.000000,9999.000000,9999.000000